:root {
    /* Dark Theme */
    --background-window: #333;
    --text-color: #f0f6f0;
    --background-keyboard: rgb(36, 35, 35);
    --background-shadow: rgb(27, 27, 27);
    --background-display: #000;
    --background-color: #211e20;
    --border-size: 2px;
    /* White Theme */
}
html, body {
    height: 100%;
    color: var(--text-color);
    background: var(--background-window);
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monitor {
    height: 450px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-keyboard);
    margin: 0 0 20px 0;
    border-radius: 5px;
    position: relative;
}
.monitor::after {
    content: "";
    width: 16px;
    height: 16px;
    background: rgb(207, 86, 86);
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.monitor__display {
    height: 400px;
    width: 600px;
    background: var(--background-display);
}
.monitor__text {
    padding: 10px;
    font-weight: 500;
    overflow: hidden;
    border-bottom: 1px solid #000;
    color: #1b5e20;
    position: relative;
}
.monitor__text::after {
    content: "_";
    color: #fff;
    font-size: 20px;
    animation: blicking 0.4s linear infinite alternate;
}
@keyframes blicking {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.keyboard {
    background: var(--background-keyboard);
    width: 810px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
.keyboard__row {
    display: flex;
}
.keyboard__row:not(:last-child) { margin-bottom: 10px; }
li {
    color: #e9efec;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 3px 1px var(--background-shadow);
    position: relative;
    top: 0;
    transition: all 0.3s ease 0s;
    background: #211e20;
}
.pinhelp {
    font-size: 16px;
    padding: 20px;
}
.active {
    top: 2px;
    box-shadow: 0px 1px 1px var(--background-shadow);
    background: #ffb0a3;
}

.keyboard__row li:not(:last-child) { margin-right: 10px; }
.keybuttons-left {
    justify-content: center;
    align-items: flex-end;
    padding: 0 5px 0 0;
}
.keybuttons-right {
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 5px;
}
.keybuttons-middle {
    justify-content: center;
    align-items: center;
    padding: 0;
}
#Backspace {
    width: 75px;
    justify-content: center;
    align-items: flex-end;
    padding: 0 5px 0 0;
}
#Tab {
    width: 70px;
}
#CapsLock {
    width: 80px;
}
#Enter {
    width: 90px;
    align-items: flex-end;
}
#ShiftRight, #ShiftLeft {
    width: 113px;
}
#ControlRight, #ControlLeft,#OSLeft,#AltLeft, #AltRight {
    width: 60px
}
.icon__linux {
    width: 42px;
}
#Space {
    width: 265px;
}
.arrows {
    width: 165px;
}
