:root {
    /* Dark Theme */
    --background-window: #333;
    --text-color: #f0f6f0;
    --background-keyboard: rgb(36, 35, 35);
    --background-shadow: rgb(27, 27, 27);
    --background-display: #000;
    --background-color: #211e20;
    --border-size: 2px;
    --text-display: #1b5e20;
}
html, body {
    height: 100%;
    color: var(--text-color);
    background: var(--background-window);
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
}
._active {
/* White Theme */
    --background-window: #f0f6f0;
    --text-color: #211e20;
    --background-keyboard: rgb(199, 199, 199);
    --background-shadow: rgb(158, 152, 152);
    --background-display: rgb(170, 170, 170);
    --background-color: rgb(168, 167, 167);
    --text-display: #131313;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.monitor {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
    background: var(--background-keyboard);
    border-radius: 5px;
    position: relative;
}
.monitor__display {
    height: 350px;
    width: 550px;
    background: var(--background-display);
    overflow: hidden;
    padding: 10px;
}
@media (max-height: 1080px) {
    .monitor {
        width: 500px;
        height: 300px;
    }
    .monitor__display {
        height: 250px;
        width: 450px;
    }
}
.monitor__text {
    font-weight: 500;
    width: auto;
    color: var(--text-display);
    position: relative;
}
.monitor__text::after {
    content: "_";
    color: #fff;
    font-size: 14sdfpx;
    animation: blicking 0.4s linear infinite alternate;
}
@keyframes blicking {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.toggle {
    background: #353535;
    border-radius: 10px;
    width: 30px;
    height: 16px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.toggle__circle {
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease 0s;
}
.toggle__active {
    left: 16px;
    background: #000;
}
.keyboard {
    background: var(--background-keyboard);
    width: 810px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1);
}
.keyboard__row {
    display: flex;
}
.keyboard__row:not(:last-child) { margin-bottom: 10px; }
li {
    color: var(--text-color);
    width: 45px;
    height: 45px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 3px 1px var(--background-shadow);
    position: relative;
    top: 0;
    transition: all 0.3s ease 0s;
    background: var(--background-color);
}
.pinhelp {
    font-size: 16px;
    padding: 20px;
}
.active {
    top: 2px;
    box-shadow: 0px 1px 1px var(--background-shadow);
    background: #ffb0a3;
}
.keyboard__row li:not(:last-child) { margin-right: 10px; }
.keybuttons-left {
    justify-content: center;
    align-items: flex-end;
    padding: 0 5px 0 0;
}
.keybuttons-right {
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 5px;
}
.keybuttons-middle {
    justify-content: center;
    align-items: center;
    padding: 0;
}
#Backspace {
    width: 75px;
    justify-content: center;
    align-items: flex-end;
    padding: 0 5px 0 0;
}
#Tab {
    width: 70px;
}
#CapsLock {
    width: 80px;
}
#Enter {
    width: 90px;
    align-items: flex-end;
}
#ShiftRight, #ShiftLeft {
    width: 113px;
}
#ControlRight, #ControlLeft,#OSLeft,#AltLeft, #AltRight {
    width: 60px
}
.icon__linux {
    width: 42px;
}
#Space {
    width: 265px;
}
.arrows {
    width: 165px;
}
